.slot {
    height: 150px;
    width: 150px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-color: rgba(0, 248, 255, 255);
    border-right-color: rgba(0, 248, 255, 255);
    border-top-color: rgba(0, 248, 255, 255);
    border-bottom-color: rgba(0, 248, 255, 255);
}
